* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #484957;
}

.form {
    margin-top: 15%;
    width: 600px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;

}

.sec-inp{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 50px;
}

.inp1 {
    width: 170px;
    height: 40px;
    font-size: 25px;
    border: none;
    outline: 1px solid #484957;
    border-radius: 2px;
}

.selc {
    width: 100px;
    height: 40px;
    border: none;
    outline: 1px solid #484957;
    border-radius: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inp2 {
    width: 170px;
    height: 40px;
    font-size: 25px;
    border: none;
    outline: 1px solid #484957;
    border-radius: 2px;
}

.form-inner {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    padding: 10px 30px;
    margin-left: 50px;
    border: none;
    color: #00c500;
    outline: 2px solid #00c500;
    border-radius: 1px;
}